.footer-section{
    padding: 60px 10px;
    background-image: url(/public/coffee-wallpaper-1306-1433-hd-wallpapers.jpg);
    background-color: rgb(10, 10, 10);
    background-blend-mode: overlay;
    opacity: .95;
    background-position: left;
    background-size: auto;

}