.background{
    padding: 50px;
    height: 600px;
    background-image: url(/public/coffee-wallpaper-1306-1433-hd-wallpapers.jpg);
    background-color: rgb(177, 115, 0);
    background-blend-mode: multiply;
    opacity: .8;
    background-position: center;
    background-size: cover;
}